<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "mb-2" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= form.label :description, class: "mb-2" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group, mt-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
