<p style="color: green"><%= notice %></p>

<%= render @element %>

<div>
  <%= link_to "Edit this element", edit_element_path(@element) %> |
  <%= link_to "Back to elements", elements_path %>

  <%= button_to "Destroy this element", @element, method: :delete %>
</div>
